<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <h1 id="title">Ember Phoenix Slugs</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      {{outlet}}
    </div>
  </div>
</div>
